#container {
  background-color: rgb(140, 250, 250);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

#cartandcheckout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#products {
  background-color: rgb(127, 84, 228);
  display: flex;
  justify-content: space-evenly;
 
}

table {
  width:400px;
  text-align: center;
}

#oneedit {
  position:absolute
}

input {
  opacity: 1
}

td {
  
  border: 3px solid
}



#productonerow {
  
}

#productonerow {
  
}

#total {
  background-color: rgb(255, 255, 255);
  width: 100px
}


