#container {
  background: linear-gradient(160deg, rgb(218, 236, 248) 0% 10%, rgb(112, 218, 245) 15% 50%, rgb(93, 110, 243) 70% 80%, rgb(145, 149, 151) 95% 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#cartandcheckout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#products {
  background-color: rgb(76, 152, 252);
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  width: 900px;
  border-radius: 5px;
  
 
}

table {
  width:400px;
  text-align: center;
}

#oneedit {
  position:absolute
}

input {
  height: 25px;
  width: 50px;
  text-align: center;
  border-radius: 5px;
  
}

td {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 3px solid
}

#productonebox {
  background-color: azure;
  border-style: solid;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 7px 4px 10px; 

}

#producttwobox {
  background-color: azure;
  border-style: solid;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 7px 4px 10px;

}

#productonerow {
  
}


#total {
  background-color: rgb(255, 255, 255);
  width: 100px;
  height: 30px;
  text-align: center;
  border-style: solid;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  
}


