#container {
  background: linear-gradient(160deg, rgb(218, 236, 248) 0% 10%, rgb(112, 218, 245) 15% 50%, rgb(93, 110, 243) 70% 80%, rgb(145, 149, 151) 95% 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#cartandcheckout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aliceblue;
}

h3 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aliceblue;

}

#products {
  background-color: rgb(76, 152, 252, .4);
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  width: 900px;
  border-radius: 5px;
  
 
}

table {
  width:400px;
  text-align: center;
}

#oneedit {
  position:absolute
}

input {
  height: 25px;
  width: 50px;
  text-align: center;
  border-radius: 5px;
  
}

#onebutton, #twobutton, #threebutton, #clearone, #cleartwo{
  border-radius: 7px;
  border-style: none;
  font-size: 15px;
}

#dropdown {
  height: 25px;
  width: 170px;
  text-align: center;
  border-radius: 5px;
  
}

td {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 3px solid
}

#productonebox {
  background-color: rgb(60, 111, 187, .7);
  border-style: solid;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 3px 2px 20px; 
  width: 270px
 
}

#producttwobox {
  background-color: rgb(60, 111, 187, .7);
  border-style: solid;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 3px 2px 20px;
  width: 270px

}

#productthreebox {
  background-color: rgb(60, 111, 187, .7);
  border-style: solid;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 3px 2px 20px;
  width: 270px

}

#cartbox {
  margin: 20px
}




#carticon {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

#totalcheckoutdivider {
width: 1300px;
background-color: rgb(241, 241, 241);
height: 1px

}
#total {
  background-color: rgb(53, 131, 248);
  width: 100px;
  height: 30px;
  text-align: center;
  border-style: solid;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}


#checkoutbutton {
  font-size: 23px;
  font-family: Geneva, Tahoma, sans-serif;
  background-color: rgb(53, 131, 248);
  color:rgb(255, 255, 255);
  width: 200px;
  border-radius: 10px;
  padding: 10px;
  border: none;
  box-shadow: 4px 4px 10px 4px rgb(71, 71, 73);
  cursor: pointer;
}

#checkoutbutton:hover {
  background-color: rgb(60, 111, 187);
  box-shadow: 4px 4px 10px 4px rgb(29, 29, 31);
}


